
h1{


text-align: center;
text-wrap: ;
border-radius: 30px;
color: rgb(42, 46, 165);
background-color: rgba(176, 3, 3, 0.927);

}

nav-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;

    }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

p{
background-color: rgb(46, 43, 226);

}

.tableau-style { 

    border-collapse: collapse;
    min-width: 300px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 100px;
    border: 2px solid midnightblue;
     
}

thead tr {

    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {

    padding: 15px 20px;
}
tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(event){
    background: color #f3f3f3;
}

tbody  tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}